In [1]:
from dotenv import load_dotenv

load_dotenv(
    dotenv_path="/Users/tomwattley/App/racing-api-project/racing-api-project/libraries/api-helpers/src/api_helpers/.env"
)
from api_helpers.config import Config
import pandas as pd
config = Config()

In [2]:
from api_helpers.clients import get_betfair_client, get_postgres_client

bf_client = get_betfair_client()
pg_client = get_postgres_client()

2025-08-28T14:03:22Z | INFO - Logging configuration initialized with level: INFO
2025-08-28T14:03:22Z | INFO - Logging into Betfair...
2025-08-28T14:03:22Z | INFO - Logged into Betfair!

In [3]:
bf = bf_client.create_market_data()

2025-08-28T14:03:22Z | INFO - Found 52 markets

In [4]:
from api_helpers.clients import get_betfair_client, get_postgres_client

bf_client = get_betfair_client()
pg_client = get_postgres_client()

bf = bf_client.create_market_data()
win = bf[bf['market'] == 'WIN'][[ 'todays_betfair_selection_id','market_id']]
place = bf[bf['market'] == 'PLACE'][[ 'todays_betfair_selection_id','market_id']]

bf_merged = pd.merge(win, place, on='todays_betfair_selection_id', suffixes=('_win', '_place'))
df = pg_client.fetch_data(
    """SELECT bf.*, td.race_id 
FROM bf_raw.today_horse bf
JOIN public.todays_data td
ON bf.horse_id = td.horse_id"""
)
market_ids = df.merge(bf_merged, left_on='bf_horse_id', right_on='todays_betfair_selection_id', how='left')

market_ids[[
    'race_id',
    'market_id_win',
    'market_id_place',
]].drop_duplicates(subset=['race_id']).reset_index(drop=True)

2025-08-28T14:03:29Z | INFO - Logging into Betfair...
2025-08-28T14:03:29Z | INFO - Logged into Betfair!
2025-08-28T14:03:29Z | INFO - Found 52 markets

    race_id market_id_win market_id_place
0    900849   1.247120378     1.247120379
1    900587   1.247118493     1.247118495
2    900851   1.247120392     1.247120393
3    900594   1.247118426     1.247118427
4    900588   1.247118500     1.247118501
5    900590   1.247118481     1.247118482
6    900597   1.247118445     1.247118447
7    900843   1.247118527     1.247118529
8    900844   1.247118514     1.247118516
9    900842   1.247118548     1.247118549
10   900845   1.247120419     1.247120420
11   900848   1.247120405     1.247120406
12   900592   1.247118438     1.247118440
13   900841   1.247118541     1.247118542
14   900840   1.247118534     1.247118536
15   900589   1.247118473     1.247118474
16   902245   1.247118487     1.247118488
17   900591   1.247118466     1.247118467
18   900850   1.247120385     1.247120386
19   900595   1.247118459     1.247118460
20   900846   1.247120399     1.247120400
21   900586   1.247118507     1.247118509
22   900847   1.247120412     1.247120413
23   900839   1.247118521     1.247118522
24   900593   1.247118431     1.247118432
25   900596   1.247118452     1.247118454

In [5]:
df = pg_client.fetch_data(
    """SELECT bf.*, td.race_id 
FROM bf_raw.today_horse bf
JOIN public.todays_data td
ON bf.horse_id = td.horse_id"""
)
market_ids = df.merge(bf_merged, left_on='bf_horse_id', right_on='todays_betfair_selection_id', how='left')

market_ids[[
    'race_id',
    'market_id_win',
    'market_id_place',
]].drop_duplicates(subset=['race_id']).reset_index(drop=True)

    race_id market_id_win market_id_place
0    900849   1.247120378     1.247120379
1    900587   1.247118493     1.247118495
2    900851   1.247120392     1.247120393
3    900594   1.247118426     1.247118427
4    900588   1.247118500     1.247118501
5    900590   1.247118481     1.247118482
6    900597   1.247118445     1.247118447
7    900843   1.247118527     1.247118529
8    900844   1.247118514     1.247118516
9    900842   1.247118548     1.247118549
10   900845   1.247120419     1.247120420
11   900848   1.247120405     1.247120406
12   900592   1.247118438     1.247118440
13   900841   1.247118541     1.247118542
14   900840   1.247118534     1.247118536
15   900589   1.247118473     1.247118474
16   902245   1.247118487     1.247118488
17   900591   1.247118466     1.247118467
18   900850   1.247120385     1.247120386
19   900595   1.247118459     1.247118460
20   900846   1.247120399     1.247120400
21   900586   1.247118507     1.247118509
22   900847   1.247120412     1.247120413
23   900839   1.247118521     1.247118522
24   900593   1.247118431     1.247118432
25   900596   1.247118452     1.247118454

In [6]:
market_ids = df.merge(bf_merged, left_on='bf_horse_id', right_on='todays_betfair_selection_id', how='left')

market_ids[[
    'race_id',
    'market_id_win',
    'market_id_place',
]].drop_duplicates(subset=['race_id']).reset_index(drop=True)

    race_id market_id_win market_id_place
0    900849   1.247120378     1.247120379
1    900587   1.247118493     1.247118495
2    900851   1.247120392     1.247120393
3    900594   1.247118426     1.247118427
4    900588   1.247118500     1.247118501
5    900590   1.247118481     1.247118482
6    900597   1.247118445     1.247118447
7    900843   1.247118527     1.247118529
8    900844   1.247118514     1.247118516
9    900842   1.247118548     1.247118549
10   900845   1.247120419     1.247120420
11   900848   1.247120405     1.247120406
12   900592   1.247118438     1.247118440
13   900841   1.247118541     1.247118542
14   900840   1.247118534     1.247118536
15   900589   1.247118473     1.247118474
16   902245   1.247118487     1.247118488
17   900591   1.247118466     1.247118467
18   900850   1.247120385     1.247120386
19   900595   1.247118459     1.247118460
20   900846   1.247120399     1.247120400
21   900586   1.247118507     1.247118509
22   900847   1.247120412     1.247120413
23   900839   1.247118521     1.247118522
24   900593   1.247118431     1.247118432
25   900596   1.247118452     1.247118454

In [7]:
tf.columns

NameError: name 'tf' is not defined

In [8]:
from api_helpers.clients import get_betfair_client, get_postgres_client
import pandas as pd

bf_client = get_betfair_client()
pg_client = get_postgres_client()

# Betfair market lookup (WIN/PLACE) per selection
bf = bf_client.create_market_data()
win = bf.loc[bf["market"] == "WIN", ["todays_betfair_selection_id", "market_id"]].rename(
    columns={"market_id": "market_id_win"}
)
place = bf.loc[bf["market"] == "PLACE", ["todays_betfair_selection_id", "market_id"]].rename(
    columns={"market_id": "market_id_place"}
)
bf_merged = pd.merge(win, place, on="todays_betfair_selection_id", how="outer")

# Today's horses with race_id
df = pg_client.fetch_data(
    """
    SELECT bf.*, td.race_id
    FROM bf_raw.today_horse bf
    JOIN public.todays_data td
      ON bf.horse_id = td.horse_id
    """
)

# Attach WIN/PLACE market ids and return one row per race
market_ids = (
    df.merge(
        bf_merged,
        left_on="bf_horse_id",
        right_on="todays_betfair_selection_id",
        how="left",
    )[["race_id", "market_id_win", "market_id_place"]]
    .drop_duplicates(subset=["race_id"])
    .reset_index(drop=True)
)

pg_client.store_data(
    market_ids,
    table="today_betfair_market_ids",
    schema="bf_raw",
    truncate=True,
)

2025-08-28T14:03:40Z | INFO - Logging into Betfair...
2025-08-28T14:03:40Z | INFO - Logged into Betfair!
2025-08-28T14:03:40Z | INFO - Found 52 markets
2025-08-28T14:03:46Z | INFO - Truncating bf_raw.today_betfair_market_ids
2025-08-28T14:03:46Z | INFO - Executing query: TRUNCATE TABLE bf_raw.today_betfair_market_ids
2025-08-28T14:03:46Z | INFO - Query executed. Number of rows affected: -1
2025-08-28T14:03:46Z | INFO - Storing 26 records in bf_raw.today_betfair_market_ids

In [9]:
market_ids

    race_id market_id_win market_id_place
0    900849   1.247120378     1.247120379
1    900587   1.247118493     1.247118495
2    900851   1.247120392     1.247120393
3    900594   1.247118426     1.247118427
4    900588   1.247118500     1.247118501
5    900590   1.247118481     1.247118482
6    900597   1.247118445     1.247118447
7    900843   1.247118527     1.247118529
8    900844   1.247118514     1.247118516
9    900842   1.247118548     1.247118549
10   900845   1.247120419     1.247120420
11   900848   1.247120405     1.247120406
12   900592   1.247118438     1.247118440
13   900841   1.247118541     1.247118542
14   900840   1.247118534     1.247118536
15   900589   1.247118473     1.247118474
16   902245   1.247118487     1.247118488
17   900591   1.247118466     1.247118467
18   900850   1.247120385     1.247120386
19   900595   1.247118459     1.247118460
20   900846   1.247120399     1.247120400
21   900586   1.247118507     1.247118509
22   900847   1.247120412     1.247120413
23   900839   1.247118521     1.247118522
24   900593   1.247118431     1.247118432
25   900596   1.247118452     1.247118454

In [10]:
from api_helpers.interfaces.storage_client_interface import IStorageClient


def get_market_ids(race_id: int, pg_client: IStorageClient) -> tuple[str, str]:
    """
    Get the Betfair market IDs for WIN and PLACE markets
    """
    market_ids = pg_client.fetch_data(
        f"""
        SELECT market_id_win, market_id_place FROM bf_raw.today_betfair_market_ids
        WHERE race_id = {race_id}
        """,
    )

    return market_ids["market_id_win"].values[0], market_ids["market_id_place"].values[0]


def create_betting_odds_data(data: pd.DataFrame) -> pd.DataFrame:

    return pd.merge(
        data[data["market"] == "WIN"],
        data[data["market"] == "PLACE"],
        on="selection_id",
        suffixes=("_win", "_place"),
    )[
        [
            "selection_id",
            "status_win",
            "last_traded_price_win",
            "last_traded_price_place",
        ]
    ].rename(
        columns={
            "race_time_win": "race_time",
            "status_win": "status",
        }
    )


bf_client.create_single_market_data(get_market_ids(900851, pg_client))

,race_time,market,race,course,horse,status,market_id,selection_id,last_traded_price,total_matched,...,lay_price_3,lay_price_3_depth,lay_price_4,lay_price_4_depth,lay_price_5,lay_price_5_depth,total_matched_event,percent_back_win_book,percent_lay_win_book,market_width
0,2025-08-28 18:45:00+01:00,WIN,6f Hcap,Southwell,Ormolulu,ACTIVE,1.247120392,54678914,4.30,2551.56,...,4.6,28,4.7,41.0,4.8,29.0,7744,103,97,6
1,2025-08-28 18:45:00+01:00,WIN,6f Hcap,Southwell,City Captain,ACTIVE,1.247120392,72322337,10.00,536.54,...,11.5,3,12.0,20.0,12.5,3.0,7744,103,97,6
2,2025-08-28 18:45:00+01:00,WIN,6f Hcap,Southwell,Rohaan,ACTIVE,1.247120392,28659808,10.50,633.87,...,12.5,5,13.0,8.0,14.5,4.0,7744,103,97,6
3,2025-08-28 18:45:00+01:00,WIN,6f Hcap,Southwell,Bosh,ACTIVE,1.247120392,39605056,11.50,539.43,...,13.0,11,13.5,6.0,14.0,7.0,7744,103,97,6
4,2025-08-28 18:45:00+01:00,WIN,6f Hcap,Southwell,Havana Rum,ACTIVE,1.247120392,46456919,14.50,380.05,...,16.5,44,17.0,4.0,17.5,3.0,7744,103,97,6
5,2025-08-28 18:45:00+01:00,WIN,6f Hcap,Southwell,Aberama Gold,ACTIVE,1.247120392,24694001,15.00,832.42,...,16.5,9,17.0,10.0,17.5,4.0,7744,103,97,6
6,2025-08-28 18:45:00+01:00,WIN,6f Hcap,Southwell,Fierce,ACTIVE,1.247120392,46561473,16.00,366.93,...,17.5,1,18.0,2.0,18.5,8.0,7744,103,97,6
7,2025-08-28 18:45:00+01:00,WIN,6f Hcap,Southwell,True Promise,ACTIVE,1.247120392,64669419,17.00,350.91,...,18.0,1,18.5,4.0,19.0,7.0,7744,103,97,6
8,2025-08-28 18:45:00+01:00,WIN,6f Hcap,Southwell,Sovereign Knight,ACTIVE,1.247120392,10189143,19.50,358.87,...,23.0,4,24.0,9.0,25.0,4.0,7744,103,97,6
9,2025-08-28 18:45:00+01:00,WIN,6f Hcap,Southwell,Another Investment,ACTIVE,1.247120392,40473403,20.00,351.19,...,22.0,3,23.0,2.0,24.0,4.0,7744,103,97,6
10,2025-08-28 18:45:00+01:00,WIN,6f Hcap,Southwell,Northcliff,ACTIVE,1.247120392,44049799,22.00,231.82,...,24.0,0,26.0,3.0,27.0,1.0,7744,103,97,6
11,2025-08-28 18:45:00+01:00,WIN,6f Hcap,Southwell,Fantasy Master,ACTIVE,1.247120392,35625350,24.00,226.21,...,34.0,2,36.0,7.0,40.0,1.0,7744,103,97,6
12,2025-08-28 18:45:00+01:00,WIN,6f Hcap,Southwell,Miss Hathaway,ACTIVE,1.247120392,40165511,29.00,115.32,...,36.0,3,40.0,5.0,42.0,1.0,7744,103,97,6
13,2025-08-28 18:45:00+01:00,WIN,6f Hcap,Southwell,Dapper Valley,ACTIVE,1.247120392,54944456,36.00,268.74,...,55.0,2,60.0,2.0,65.0,9.0,7744,103,97,6
14,2025-08-28 18:45:00+01:00,PLACE,To Be Placed,Southwell,Ormolulu,ACTIVE,1.247120393,54678914,2.00,93.43,...,1000.0,0,NaN,NaN,NaN,NaN,991,325,276,49
15,2025-08-28 18:45:00+01:00,PLACE,To Be Placed,Southwell,City Captain,ACTIVE,1.247120393,72322337,3.45,31.51,...,1000.0,0,NaN,NaN,NaN,NaN,991,325,276,49
16,2025-08-28 18:45:00+01:00,PLACE,To Be Placed,Southwell,Rohaan,ACTIVE,1.247120393,28659808,3.70,91.99,...,4.3,5,4.4,9.0,1000.0,0.0,991,325,276,49
17,2025-08-28 18:45:00+01:00,PLACE,To Be Placed,Southwell,Bosh,ACTIVE,1.247120393,39605056,4.20,51.98,...,4.3,10,4.4,10.0,4.5,10.0,991,325,276,49
18,2025-08-28 18:45:00+01:00,PLACE,To Be Placed,Southwell,Havana Rum,ACTIVE,1.247120393,46456919,4.40,66.09,...,5.2,17,5.3,16.0,5.4,5.0,991,325,276,49
19,2025-08-28 18:45:00+01:00,PLACE,To Be Placed,Southwell,Aberama Gold,ACTIVE,1.247120393,24694001,4.50,33.29,...,5.2,14,5.4,16.0,5.6,10.0,991,325,276,49
20,2025-08-28 18:45:00+01:00,PLACE,To Be Placed,Southwell,Fierce,ACTIVE,1.247120393,46561473,4.20,171.86,...,5.5,6,5.6,7.0,23.0,9.0,991,325,276,49
21,2025-08-28 18:45:00+01:00,PLACE,To Be Placed,Southwell,True Promise,ACTIVE,1.247120393,64669419,4.70,14.40,...,5.9,13,6.0,14.0,6.2,15.0,991,325,276,49
22,2025-08-28 18:45:00+01:00,PLACE,To Be Placed,Southwell,Sovereign Knight,ACTIVE,1.247120393,10189143,6.00,261.13,...,6.8,14,25.0,5.0,90.0,1.0,991,325,276,49
23,2025-08-28 18:45:00+01:00,PLACE,To Be Placed,Southwell,Another Investment,ACTIVE,1.247120393,40473403,6.20,29.52,...,6.6,11,12.5,5.0,90.0,2.0,991,325,276,49
24,2025-08-28 18:45:00+01:00,PLACE,To Be Placed,Southwell,Northcliff,ACTIVE,1.247120393,44049799,5.70,6.11,...,7.2,14,7.4,1.0,1000.0,1.0,991,325,276,49
25,2025-08-28 18:45:00+01:00,PLACE,To Be Placed,Southwell,Fantasy Master,ACTIVE,1.247120393,35625350,NaN,0.00,...,9.0,2,9.2,4.0,9.4,5.0,991,325,276,49
26,2025-08-28 18:45:00+01:00,PLACE,To Be Placed,Southwell,Miss Hathaway,ACTIVE,1.247120393,40165511,7.60,24.40,...,22.0,1,90.0,2.0,1000.0,0.0,991,325,276,49
27,2025-08-28 18:45:00+01:00,PLACE,To Be Placed,Southwell,Dapper Valley,ACTIVE,1.247120393,54944456,8.60,115.34,...,1000.0,0,NaN,NaN,NaN,NaN,991,325,276,49

In [13]:
bf = create_betting_odds_data(
    bf_client.create_single_market_data(get_market_ids(900851, pg_client))
)
bf

    selection_id  status  last_traded_price_win  last_traded_price_place
0       54678914  ACTIVE                    4.3                     2.00
1       72322337  ACTIVE                   10.0                     3.45
2       28659808  ACTIVE                   10.5                     3.70
3       39605056  ACTIVE                   11.5                     4.20
4       46456919  ACTIVE                   14.5                     4.40
5       24694001  ACTIVE                   15.0                     4.50
6       46561473  ACTIVE                   16.0                     4.20
7       64669419  ACTIVE                   17.0                     4.70
8       10189143  ACTIVE                   19.5                     6.00
9       40473403  ACTIVE                   20.0                     6.20
10      44049799  ACTIVE                   22.0                     5.70
11      35625350  ACTIVE                   24.0                      NaN
12      40165511  ACTIVE                   29.0                     7.60
13      54944456  ACTIVE                   36.0                     8.60

In [ ]:
ri = pg_client.fetch_data(
        f"""            
            SELECT 
                pd.unique_id,
                pd.race_id,
                pd.race_date,
                pd.horse_id,
                CASE 
                    WHEN pd.draw IS NOT NULL AND pd.number_of_runners IS NOT NULL THEN 
                        CONCAT('(', pd.draw, '/', pd.number_of_runners, ')')
                    WHEN pd.draw IS NOT NULL THEN 
                        CONCAT(pd.draw, '/?')
                    WHEN pd.number_of_runners IS NOT NULL THEN 
                        CONCAT('?/', pd.number_of_runners)
                    ELSE NULL
                END AS draw_runners,
                pd.horse_name,
                pd.age,
                pd.official_rating,
                pd.weight_carried_lbs,
                pd.betfair_win_sp::numeric,
                pd.betfair_place_sp::numeric,
                pd.win_percentage,
                pd.place_percentage,
                pd.number_of_runs,
                bf.bf_horse_id as selection_id
            FROM public.unioned_results_data pd
            LEFT JOIN 
                bf_raw.today_horse bf
                ON pd.horse_id = bf.horse_id
            WHERE pd.race_id = {900851}
            """
    )


df = (
    pd.merge(bf, ri, on="selection_id", how="left")
    .assign(
        betfair_win_sp=pd.to_numeric(bf.last_traded_price_win, errors="coerce"),
        betfair_place_sp=pd.to_numeric(bf.last_traded_price_place, errors="coerce"),
    )
    .assign(
        tmp_betfair_sp_win=lambda x: x.betfair_win_sp.fillna(x.last_traded_price_win),
        tmp_betfair_sp_place=lambda x: x.betfair_place_sp.fillna(
            x.last_traded_price_place
        ),
    )
    .drop(
        columns=[
            "last_traded_price_win",
            "last_traded_price_place",
            "betfair_win_sp",
            "betfair_place_sp",
        ]
    ).rename(
        columns={
            "tmp_betfair_sp_win": "betfair_win_sp",
            "tmp_betfair_sp_place": "betfair_place_sp",
        }
    )
)

In [37]:
ri

,unique_id,race_id,race_date,horse_id,draw_runners,horse_name,age,official_rating,weight_carried_lbs,betfair_win_sp,betfair_place_sp,win_percentage,place_percentage,number_of_runs,selection_id
0,15a45b6f68e1d84d8e35fed9289e7c9a2109b13950dd2e...,900851,2025-08-28,149322,(12/14),Aberama Gold,8,83,141,None,None,14,37,97,24694001
1,66dc26a6d9a21ae8e3d4a2ebbdc038f55c19b24d775116...,900851,2025-08-28,156809,(3/14),Fantasy Master,7,74,132,None,None,15,45,47,35625350
2,f5b0f6741bfdd885681b7e6becdfc116e48c8e3bd758fa...,900851,2025-08-28,161369,(11/14),Rohaan,7,82,140,None,None,17,33,60,28659808
3,95ef837cd6df97ee1612a0ad68efdd7aebdce7f44d7725...,900851,2025-08-28,164521,(4/14),Bosh,6,81,139,None,None,14,48,29,39605056
4,57da133b4d9cf248863bd3363d9cc0eb6fcf4d006f1505...,900851,2025-08-28,168974,(2/14),Another Investment,6,81,139,None,None,7,33,46,40473403
5,0f2377f3f6406f944e20442d1e827d5eeca733f456cd63...,900851,2025-08-28,173039,(1/14),Northcliff,5,80,138,None,None,13,44,48,44049799
6,93f3ae66f4ce6f568da8c03707babeab56c626221461c8...,900851,2025-08-28,177786,(14/14),Havana Rum,5,74,132,None,None,14,38,37,46456919
7,0619459f31245c39fd79a791d64fdbbde80cf0ba9e719c...,900851,2025-08-28,177892,(7/14),Fierce,5,77,135,None,None,15,50,26,46561473
8,835207b1d4a1098164eacd78aba4e63bf5ce6bb21d2899...,900851,2025-08-28,181932,(9/14),True Promise,4,73,131,None,None,17,39,23,64669419
9,f2ec5e86f583efeda9e2cb0e2a79e105dacf76323f2f18...,900851,2025-08-28,183155,(8/14),Ormolulu,5,82,140,None,None,17,39,36,54678914
10,ac0f1cc4091ba60dfc040727e77129bd16cebbfab6d203...,900851,2025-08-28,183686,(13/14),Dapper Valley,4,70,128,None,None,11,26,19,54944456
11,26711931b0bb53009091eed531b1842136af9d5fa301a1...,900851,2025-08-28,189076,(5/14),Sovereign Knight,4,69,127,None,None,17,39,18,10189143
12,7e844ddc20336a8d37003dac906af414423c99ce80d451...,900851,2025-08-28,6671358,(6/14),Miss Hathaway,3,74,129,None,None,12,47,17,40165511
13,f29a8114f29e1742583fadc53f07523512704bce233962...,900851,2025-08-28,6673996,(10/14),City Captain,3,68,123,None,None,33,44,9,72322337

In [40]:
df

,selection_id,status,unique_id,race_id,race_date,horse_id,draw_runners,horse_name,age,official_rating,weight_carried_lbs,win_percentage,place_percentage,number_of_runs,betfair_win_sp,betfair_place_sp
0,54678914,ACTIVE,f2ec5e86f583efeda9e2cb0e2a79e105dacf76323f2f18...,900851,2025-08-28,183155,(8/14),Ormolulu,5,82,140,17,39,36,4.3,2.00
1,72322337,ACTIVE,f29a8114f29e1742583fadc53f07523512704bce233962...,900851,2025-08-28,6673996,(10/14),City Captain,3,68,123,33,44,9,10.0,3.45
2,28659808,ACTIVE,f5b0f6741bfdd885681b7e6becdfc116e48c8e3bd758fa...,900851,2025-08-28,161369,(11/14),Rohaan,7,82,140,17,33,60,10.5,3.70
3,39605056,ACTIVE,95ef837cd6df97ee1612a0ad68efdd7aebdce7f44d7725...,900851,2025-08-28,164521,(4/14),Bosh,6,81,139,14,48,29,11.5,4.20
4,46456919,ACTIVE,93f3ae66f4ce6f568da8c03707babeab56c626221461c8...,900851,2025-08-28,177786,(14/14),Havana Rum,5,74,132,14,38,37,14.5,4.40
5,24694001,ACTIVE,15a45b6f68e1d84d8e35fed9289e7c9a2109b13950dd2e...,900851,2025-08-28,149322,(12/14),Aberama Gold,8,83,141,14,37,97,15.0,4.50
6,46561473,ACTIVE,0619459f31245c39fd79a791d64fdbbde80cf0ba9e719c...,900851,2025-08-28,177892,(7/14),Fierce,5,77,135,15,50,26,16.0,4.20
7,64669419,ACTIVE,835207b1d4a1098164eacd78aba4e63bf5ce6bb21d2899...,900851,2025-08-28,181932,(9/14),True Promise,4,73,131,17,39,23,17.0,4.70
8,10189143,ACTIVE,26711931b0bb53009091eed531b1842136af9d5fa301a1...,900851,2025-08-28,189076,(5/14),Sovereign Knight,4,69,127,17,39,18,19.5,6.00
9,40473403,ACTIVE,57da133b4d9cf248863bd3363d9cc0eb6fcf4d006f1505...,900851,2025-08-28,168974,(2/14),Another Investment,6,81,139,7,33,46,20.0,6.20
10,44049799,ACTIVE,0f2377f3f6406f944e20442d1e827d5eeca733f456cd63...,900851,2025-08-28,173039,(1/14),Northcliff,5,80,138,13,44,48,22.0,5.70
11,35625350,ACTIVE,66dc26a6d9a21ae8e3d4a2ebbdc038f55c19b24d775116...,900851,2025-08-28,156809,(3/14),Fantasy Master,7,74,132,15,45,47,24.0,NaN
12,40165511,ACTIVE,7e844ddc20336a8d37003dac906af414423c99ce80d451...,900851,2025-08-28,6671358,(6/14),Miss Hathaway,3,74,129,12,47,17,29.0,7.60
13,54944456,ACTIVE,ac0f1cc4091ba60dfc040727e77129bd16cebbfab6d203...,900851,2025-08-28,183686,(13/14),Dapper Valley,4,70,128,11,26,19,36.0,8.60