In [5]:
from dotenv import load_dotenv

load_dotenv(
    dotenv_path="/Users/tomwattley/App/racing-api-project/racing-api-project/libraries/api-helpers/src/api_helpers/.env"
)
from api_helpers.config import Config
import pandas as pd

config = Config()

In [6]:
from api_helpers.clients import get_betfair_client, get_postgres_client

bf_client = get_betfair_client()
pg_client = get_postgres_client()

2025-09-30T05:51:46Z | INFO - Logging into Betfair...
2025-09-30T05:51:47Z | INFO - Logged into Betfair!

In [7]:
# Run DB query and sync Betfair call concurrently
from datetime import datetime, timedelta


start = (datetime.now() - timedelta(days=1)).strftime("%Y-%m-%d")
end = (datetime.now() + timedelta(days=1)).strftime("%Y-%m-%d")

bf_client.get_past_orders_by_date_range(start, end)

,bet_count,bet_id,bet_outcome,customer_order_ref,customer_strategy_ref,event_id,event_type_id,handicap,last_matched_date,market_id,...,price_reduced,price_requested,profit,commission,selection_id,settled_date,side,size_settled,size_cancelled,item_description
0,1,403608894303,LOST,None,None,34781778,7,0.0,2025-09-29 19:11:25,1.248311204,...,False,4.50,-50.00,None,19753090,2025-09-29 19:36:07,BACK,50.00,None,None
1,1,403608894304,LOST,None,None,34781778,7,0.0,2025-09-29 19:11:25,1.248311204,...,False,3.00,-50.00,None,61496943,2025-09-29 19:36:07,BACK,50.00,None,None
2,1,403608894305,WON,None,None,34781778,7,0.0,2025-09-29 19:11:25,1.248311204,...,False,3.80,140.34,None,69684890,2025-09-29 19:36:07,BACK,50.00,None,None
3,1,403608777431,LOST,None,None,34781778,7,0.0,2025-09-29 19:11:39,1.248311203,...,False,8.60,-50.00,None,61496943,2025-09-29 19:35:03,BACK,50.00,None,None
4,1,403608831934,LOST,None,None,34781778,7,0.0,2025-09-29 19:10:59,1.248311203,...,False,16.50,-50.00,None,19753090,2025-09-29 19:35:03,BACK,50.00,None,None
5,1,403608831935,LOST,None,None,34781778,7,0.0,2025-09-29 19:12:53,1.248311203,...,False,13.00,-31.23,None,69684890,2025-09-29 19:35:03,BACK,31.23,None,None
6,1,403609144082,LOST,None,None,34781778,7,0.0,2025-09-29 19:13:09,1.248311203,...,False,12.50,-18.77,None,69684890,2025-09-29 19:35:03,BACK,18.77,None,None
7,1,403541147625,LOST,None,trader,34781774,7,0.0,2025-09-29 05:40:23,1.248311092,...,False,3.00,-4.00,None,11398009,2025-09-29 15:34:44,LAY,2.00,None,None
8,1,403541272090,LOST,None,None,34781774,7,0.0,2025-09-29 05:43:29,1.248311092,...,False,3.00,-96.00,None,11398009,2025-09-29 15:34:44,LAY,48.00,None,None
9,1,403541496913,LOST,None,None,34781774,7,0.0,2025-09-29 05:48:37,1.248311092,...,False,5.50,-50.00,None,56816865,2025-09-29 15:34:44,BACK,50.00,None,None
10,1,403542257553,WON,None,trader,34781776,7,0.0,2025-09-29 06:07:52,1.248311141,...,False,5.10,3.81,None,45476015,2025-09-29 14:39:15,BACK,0.93,None,None
11,1,403542257686,LOST,None,trader,34781776,7,0.0,2025-09-29 06:07:52,1.248311141,...,False,3.10,-2.00,None,71273645,2025-09-29 14:39:15,BACK,2.00,None,None
12,1,403542415480,WON,None,trader,34781776,7,0.0,2025-09-29 06:12:07,1.248311141,...,False,5.10,4.39,None,45476015,2025-09-29 14:39:15,BACK,1.07,None,None
13,1,403546054360,WON,None,trader,34781776,7,0.0,2025-09-29 07:36:52,1.248311141,...,False,5.90,4.90,None,45476015,2025-09-29 14:39:15,BACK,1.00,None,None
14,1,403546054629,LOST,None,trader,34781776,7,0.0,2025-09-29 07:36:52,1.248311141,...,False,3.25,-2.00,None,71273645,2025-09-29 14:39:15,BACK,2.00,None,None
15,1,403548754648,LOST,None,trader,34781776,7,0.0,2025-09-29 08:36:15,1.248311141,...,False,3.55,-2.00,None,71273645,2025-09-29 14:39:15,BACK,2.00,None,None
16,1,403550125102,WON,None,trader,34781776,7,0.0,2025-09-29 09:03:55,1.248311141,...,False,4.70,3.70,None,45476015,2025-09-29 14:39:15,BACK,1.00,None,None
17,1,403550148775,WON,None,trader,34781776,7,0.0,2025-09-29 09:04:18,1.248311141,...,False,4.60,7.20,None,45476015,2025-09-29 14:39:15,BACK,2.00,None,None
18,1,403551938785,LOST,None,trader,34781776,7,0.0,2025-09-29 09:35:31,1.248311141,...,False,3.75,-2.00,None,71273645,2025-09-29 14:39:15,BACK,2.00,None,None
19,1,403555820705,LOST,None,trader,34781776,7,0.0,2025-09-29 10:35:45,1.248311141,...,False,3.80,-2.00,None,71273645,2025-09-29 14:39:15,BACK,2.00,None,None
20,1,403557752983,LOST,None,trader,34781776,7,0.0,2025-09-29 11:05:33,1.248311141,...,False,3.85,-2.00,None,71273645,2025-09-29 14:39:15,BACK,2.00,None,None
21,1,403559979662,LOST,None,trader,34781776,7,0.0,2025-09-29 11:35:44,1.248311141,...,False,3.75,-4.00,None,71273645,2025-09-29 14:39:15,BACK,4.00,None,None
22,1,403561641278,WON,None,None,34781776,7,0.0,2025-09-29 11:59:36,1.248311141,...,False,4.50,2.95,None,45476015,2025-09-29 14:39:15,BACK,0.84,None,None
23,1,403561660914,WON,None,None,34781776,7,0.0,2025-09-29 11:59:52,1.248311141,...,False,4.50,70.01,None,45476015,2025-09-29 14:39:15,BACK,20.00,None,None
24,1,403561666977,LOST,None,None,34781776,7,0.0,2025-09-29 11:59:57,1.248311141,...,False,3.75,-20.00,None,71273645,2025-09-29 14:39:15,BACK,20.00,None,None
25,1,403561687249,WON,None,None,34781776,7,0.0,2025-09-29 12:00:08,1.248311141,...,False,4.50,35.01,None,45476015,2025-09-29 14:39:15,BACK,10.00,None,None
26,1,403561697256,LOST,None,None,34781776,7,0.0,2025-09-29 12:00:15,1.248311141,...,False,3.75,-4.89,None,71273645,2025-09-29 14:39:15,BACK,4.89,None,None
27,1,403561989095,LOST,None,None,34781776,7,0.0,2025-09-29 12:04:07,1.248311141,...,False,3.75,-10.00,None,71273645,2025-09-29 14:39:15,BACK,10.00,None,None
28,1,403561998011,WON,None,None,34781776,7,0.0,2025-09-29 12:04:13,1.248311141,...,False,4.50,35.02,None,45476015,2025-09-29 14:39:15,BACK,10.00,None,None
29,1,403562024758,LOST,None,None,34781776,7,0.0,2025-09-29 12:04:38,1.248311141,...,False,3.75,-3.01,None,71273645,2025-09-29 14:39:15,BACK,3.01,None,None

In [12]:
# current_orders = bf_client.get_current_orders()
prem = ['402856430993', '403044245441']
cf = current_orders[~current_orders['bet_id'].isin(prem)]

In [14]:
cf

,bet_id,market_id,selection_id,selection_type,execution_status,placed_date,matched_date,average_price_matched,customer_strategy_ref,size_matched,size_remaining,size_lapsed,size_cancelled,size_voided,price,size
2,403635700812,1.248356979,82025208,BACK,EXECUTION_COMPLETE,2025-09-30T04:50:27.000Z,2025-09-30T04:50:27.000Z,4.3490,UI,2.0,0.0,0.0,0.0,0.0,4.3,2.0
3,403635716403,1.248356979,39352526,BACK,EXECUTION_COMPLETE,2025-09-30T04:50:49.000Z,2025-09-30T04:50:49.000Z,6.0976,UI,10.0,0.0,0.0,0.0,0.0,6.0,10.0
4,403635729066,1.248356979,82025208,BACK,EXECUTABLE,2025-09-30T04:51:08.000Z,NaN,0.0000,UI,0.0,10.0,0.0,0.0,0.0,5.5,10.0
5,403635740152,1.248356979,39352526,BACK,EXECUTABLE,2025-09-30T04:51:31.000Z,NaN,0.0000,UI,0.0,5.0,0.0,0.0,0.0,8.0,5.0
6,403635740153,1.248356979,82025208,BACK,EXECUTABLE,2025-09-30T04:51:31.000Z,NaN,0.0000,UI,0.0,4.0,0.0,0.0,0.0,6.0,4.0
7,403635745123,1.248356979,39352526,BACK,EXECUTION_COMPLETE,2025-09-30T04:51:38.000Z,2025-09-30T04:51:38.000Z,6.1666,UI,10.0,0.0,0.0,0.0,0.0,6.0,10.0

In [21]:
import hashlib

# Concatenate columns and hash
cf = cf.assign(
    unique_id=cf[["market_id", "selection_id", "selection_type"]].apply(
        lambda row: hashlib.sha256(
            "_".join(row.astype(str)).encode("utf-8")
        ).hexdigest(),
        axis=1,
    )
)

In [32]:
for i in cf['unique_id']:
    bd = cf[cf['unique_id'] == i]
    ex = bd[bd['execution_status'] == 'EXECUTABLE']
    ec = bd[bd['execution_status'] == 'EXECUTION_COMPLETE']
    break

In [33]:
cf

,bet_id,market_id,selection_id,selection_type,execution_status,placed_date,matched_date,average_price_matched,customer_strategy_ref,size_matched,size_remaining,size_lapsed,size_cancelled,size_voided,price,size,unique_id
2,403635700812,1.248356979,82025208,BACK,EXECUTION_COMPLETE,2025-09-30T04:50:27.000Z,2025-09-30T04:50:27.000Z,4.3490,UI,2.0,0.0,0.0,0.0,0.0,4.3,2.0,9863623a30b22cff8934fe42f40c7f08e0a2c50baf3fd0...
3,403635716403,1.248356979,39352526,BACK,EXECUTION_COMPLETE,2025-09-30T04:50:49.000Z,2025-09-30T04:50:49.000Z,6.0976,UI,10.0,0.0,0.0,0.0,0.0,6.0,10.0,b4cdd03dfcb57e2ebd1ba24e2617d11ed56f157c0d17af...
4,403635729066,1.248356979,82025208,BACK,EXECUTABLE,2025-09-30T04:51:08.000Z,NaN,0.0000,UI,0.0,10.0,0.0,0.0,0.0,5.5,10.0,9863623a30b22cff8934fe42f40c7f08e0a2c50baf3fd0...
5,403635740152,1.248356979,39352526,BACK,EXECUTABLE,2025-09-30T04:51:31.000Z,NaN,0.0000,UI,0.0,5.0,0.0,0.0,0.0,8.0,5.0,b4cdd03dfcb57e2ebd1ba24e2617d11ed56f157c0d17af...
6,403635740153,1.248356979,82025208,BACK,EXECUTABLE,2025-09-30T04:51:31.000Z,NaN,0.0000,UI,0.0,4.0,0.0,0.0,0.0,6.0,4.0,9863623a30b22cff8934fe42f40c7f08e0a2c50baf3fd0...
7,403635745123,1.248356979,39352526,BACK,EXECUTION_COMPLETE,2025-09-30T04:51:38.000Z,2025-09-30T04:51:38.000Z,6.1666,UI,10.0,0.0,0.0,0.0,0.0,6.0,10.0,b4cdd03dfcb57e2ebd1ba24e2617d11ed56f157c0d17af...

In [34]:
ex

,bet_id,market_id,selection_id,selection_type,execution_status,placed_date,matched_date,average_price_matched,customer_strategy_ref,size_matched,size_remaining,size_lapsed,size_cancelled,size_voided,price,size,unique_id
4,403635729066,1.248356979,82025208,BACK,EXECUTABLE,2025-09-30T04:51:08.000Z,NaN,0.0,UI,0.0,10.0,0.0,0.0,0.0,5.5,10.0,9863623a30b22cff8934fe42f40c7f08e0a2c50baf3fd0...
6,403635740153,1.248356979,82025208,BACK,EXECUTABLE,2025-09-30T04:51:31.000Z,NaN,0.0,UI,0.0,4.0,0.0,0.0,0.0,6.0,4.0,9863623a30b22cff8934fe42f40c7f08e0a2c50baf3fd0...

In [35]:
ec

,bet_id,market_id,selection_id,selection_type,execution_status,placed_date,matched_date,average_price_matched,customer_strategy_ref,size_matched,size_remaining,size_lapsed,size_cancelled,size_voided,price,size,unique_id
2,403635700812,1.248356979,82025208,BACK,EXECUTION_COMPLETE,2025-09-30T04:50:27.000Z,2025-09-30T04:50:27.000Z,4.349,UI,2.0,0.0,0.0,0.0,0.0,4.3,2.0,9863623a30b22cff8934fe42f40c7f08e0a2c50baf3fd0...

In [31]:
bd

,bet_id,market_id,selection_id,selection_type,execution_status,placed_date,matched_date,average_price_matched,customer_strategy_ref,size_matched,size_remaining,size_lapsed,size_cancelled,size_voided,price,size,unique_id
2,403635700812,1.248356979,82025208,BACK,EXECUTION_COMPLETE,2025-09-30T04:50:27.000Z,2025-09-30T04:50:27.000Z,4.349,UI,2.0,0.0,0.0,0.0,0.0,4.3,2.0,9863623a30b22cff8934fe42f40c7f08e0a2c50baf3fd0...
4,403635729066,1.248356979,82025208,BACK,EXECUTABLE,2025-09-30T04:51:08.000Z,NaN,0.000,UI,0.0,10.0,0.0,0.0,0.0,5.5,10.0,9863623a30b22cff8934fe42f40c7f08e0a2c50baf3fd0...
6,403635740153,1.248356979,82025208,BACK,EXECUTABLE,2025-09-30T04:51:31.000Z,NaN,0.000,UI,0.0,4.0,0.0,0.0,0.0,6.0,4.0,9863623a30b22cff8934fe42f40c7f08e0a2c50baf3fd0...

In [36]:
import pandas as pd
import re


def print_dataframe_for_testing(df):

    print('pd.DataFrame({')

    for col in df.columns:
        value = df[col].iloc[0]
        if re.match( r'\d{4}-\d{2}-\d{2}', str(value)):
            str_test = '[' + ' '.join([f"pd.Timestamp('{x}')," for x in list(df[col])] ) + ']'
            print(f"'{col}':{str_test},")
        else:
            print(f"'{col}':{list(df[col])},")
    print('})')

In [37]:
print_dataframe_for_testing(cf)

pd.DataFrame({
'bet_id':['403635700812', '403635716403', '403635729066', '403635740152', '403635740153', '403635745123'],
'market_id':['1.248356979', '1.248356979', '1.248356979', '1.248356979', '1.248356979', '1.248356979'],
'selection_id':[82025208, 39352526, 82025208, 39352526, 82025208, 39352526],
'selection_type':['BACK', 'BACK', 'BACK', 'BACK', 'BACK', 'BACK'],
'execution_status':['EXECUTION_COMPLETE', 'EXECUTION_COMPLETE', 'EXECUTABLE', 'EXECUTABLE', 'EXECUTABLE', 'EXECUTION_COMPLETE'],
'placed_date':[pd.Timestamp('2025-09-30T04:50:27.000Z'), pd.Timestamp('2025-09-30T04:50:49.000Z'), pd.Timestamp('2025-09-30T04:51:08.000Z'), pd.Timestamp('2025-09-30T04:51:31.000Z'), pd.Timestamp('2025-09-30T04:51:31.000Z'), pd.Timestamp('2025-09-30T04:51:38.000Z'),],
'matched_date':[pd.Timestamp('2025-09-30T04:50:27.000Z'), pd.Timestamp('2025-09-30T04:50:49.000Z'), pd.Timestamp('nan'), pd.Timestamp('nan'), pd.Timestamp('nan'), pd.Timestamp('2025-09-30T04:51:38.000Z'),],
'average_price_matched':[4.349, 6.0976, 0.0, 0.0, 0.0, 6.166600000000001],
'customer_strategy_ref':['UI', 'UI', 'UI', 'UI', 'UI', 'UI'],
'size_matched':[2.0, 10.0, 0.0, 0.0, 0.0, 10.0],
'size_remaining':[0.0, 0.0, 10.0, 5.0, 4.0, 0.0],
'size_lapsed':[0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
'size_cancelled':[0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
'size_voided':[0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
'price':[4.3, 6.0, 5.5, 8.0, 6.0, 6.0],
'size':[2.0, 10.0, 10.0, 5.0, 4.0, 10.0],
'unique_id':['9863623a30b22cff8934fe42f40c7f08e0a2c50baf3fd0b619ec71d9ca2181a4', 'b4cdd03dfcb57e2ebd1ba24e2617d11ed56f157c0d17afc9762d4e2f25a34c4f', '9863623a30b22cff8934fe42f40c7f08e0a2c50baf3fd0b619ec71d9ca2181a4', 'b4cdd03dfcb57e2ebd1ba24e2617d11ed56f157c0d17afc9762d4e2f25a34c4f', '9863623a30b22cff8934fe42f40c7f08e0a2c50baf3fd0b619ec71d9ca2181a4', 'b4cdd03dfcb57e2ebd1ba24e2617d11ed56f157c0d17afc9762d4e2f25a34c4f'],
})

In [40]:
df = pd.DataFrame(
    {
        "market_id": ["1","1","1","1","1","1"],
        "selection_id": [1, 1, 1, 1, 1, 1],
        "selection_type": ["BACK", "BACK", "BACK", "BACK", "BACK", "BACK"],
        "execution_status": [
            "EXECUTION_COMPLETE",
            "EXECUTION_COMPLETE",
            "EXECUTABLE",
            "EXECUTABLE",
            "EXECUTABLE",
            "EXECUTION_COMPLETE",
        ],
        "placed_date": [
            pd.Timestamp("2025-09-30T04:50:27.000Z"),
            pd.Timestamp("2025-09-30T04:50:49.000Z"),
            pd.Timestamp("2025-09-30T04:51:08.000Z"),
            pd.Timestamp("2025-09-30T04:51:31.000Z"),
            pd.Timestamp("2025-09-30T04:51:31.000Z"),
            pd.Timestamp("2025-09-30T04:51:38.000Z"),
        ],
        "average_price_matched": [4.34, 6.09, 0.0, 0.0, 0.0, 6.16],
        "size_matched": [2.0, 10.0, 0.0, 0.0, 0.0, 10.0],
        "size_remaining": [0.0, 0.0, 10.0, 5.0, 4.0, 0.0],
        "size_lapsed": [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
        "size_cancelled": [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
        "size_voided": [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
        "price": [4.3, 6.0, 5.5, 8.0, 6.0, 6.0],
        "size": [2.0, 10.0, 10.0, 5.0, 4.0, 10.0],
        "unique_id": ["1","1","1","1","1","1"],
    }
)

In [50]:
for i in df['unique_id']:
    bd = df[df['unique_id'] == i]
    ex = bd[bd['execution_status'] == 'EXECUTABLE']
    ec = bd[bd['execution_status'] == 'EXECUTION_COMPLETE']
    break

In [51]:
ex

,market_id,selection_id,selection_type,execution_status,placed_date,average_price_matched,size_matched,size_remaining,size_lapsed,size_cancelled,size_voided,price,size,unique_id
2,1,1,BACK,EXECUTABLE,2025-09-30 04:51:08+00:00,0.0,0.0,10.0,0.0,0.0,0.0,5.5,10.0,1
3,1,1,BACK,EXECUTABLE,2025-09-30 04:51:31+00:00,0.0,0.0,5.0,0.0,0.0,0.0,8.0,5.0,1
4,1,1,BACK,EXECUTABLE,2025-09-30 04:51:31+00:00,0.0,0.0,4.0,0.0,0.0,0.0,6.0,4.0,1

In [52]:
ec

,market_id,selection_id,selection_type,execution_status,placed_date,average_price_matched,size_matched,size_remaining,size_lapsed,size_cancelled,size_voided,price,size,unique_id
0,1,1,BACK,EXECUTION_COMPLETE,2025-09-30 04:50:27+00:00,4.34,2.0,0.0,0.0,0.0,0.0,4.3,2.0,1
1,1,1,BACK,EXECUTION_COMPLETE,2025-09-30 04:50:49+00:00,6.09,10.0,0.0,0.0,0.0,0.0,6.0,10.0,1
5,1,1,BACK,EXECUTION_COMPLETE,2025-09-30 04:51:38+00:00,6.16,10.0,0.0,0.0,0.0,0.0,6.0,10.0,1

In [ ]:
def group_matched_bets(data: pd.DataFrame) -> pd.DataFrame:

    data =  data.assign(
        sum_matched=lambda x: x["average_price_matched"] * x["size_matched"],
        horse_sum_matched=lambda x: x.groupby('unique_id')[
            "sum_matched"
        ].transform("sum"),
        horse_staked_matched=lambda x: x.groupby('unique_id')[
            "size_matched"
        ].transform("sum"),
        average_horse_odds_matched=lambda x: x["horse_sum_matched"]
        / x["horse_staked_matched"],
    )

    return data.drop_duplicates(subset=['unique_id'])

In [59]:
p = group_complete_bets(ec)

In [60]:
p

,market_id,selection_id,selection_type,execution_status,placed_date,average_price_matched,size_matched,size_remaining,size_lapsed,size_cancelled,size_voided,price,size,unique_id,sum_matched,horse_sum_matched,horse_staked_matched,average_horse_odds_matched
0,1,1,BACK,EXECUTION_COMPLETE,2025-09-30 04:50:27+00:00,4.34,2.0,0.0,0.0,0.0,0.0,4.3,2.0,1,8.68,131.18,22.0,5.962727