In [19]:
from dotenv import load_dotenv

load_dotenv(
    dotenv_path="/Users/tomwattley/App/racing-api-project/racing-api-project/libraries/api-helpers/src/api_helpers/.env"
)
from api_helpers.config import Config
import pandas as pd
config = Config()

In [6]:
from api_helpers.clients import get_betfair_client, get_postgres_client

bf_client = get_betfair_client()
pg_client = get_postgres_client()

2025-08-28T08:45:40Z | INFO - Logging into Betfair...
2025-08-28T08:45:41Z | INFO - Logged into Betfair!

In [9]:
bf = bf_client.create_market_data()

2025-08-28T08:47:04Z | INFO - Found 52 markets

In [ ]:
from api_helpers.clients import get_betfair_client, get_postgres_client

bf_client = get_betfair_client()
pg_client = get_postgres_client()

bf = bf_client.create_market_data()
win = bf[bf['market'] == 'WIN'][[ 'todays_betfair_selection_id','market_id']]
place = bf[bf['market'] == 'PLACE'][[ 'todays_betfair_selection_id','market_id']]

bf_merged = pd.merge(win, place, on='todays_betfair_selection_id', suffixes=('_win', '_place'))
df = pg_client.fetch_data(
    """SELECT bf.*, td.race_id 
FROM bf_raw.today_horse bf
JOIN public.todays_data td
ON bf.horse_id = td.horse_id"""
)
market_ids = df.merge(bf_merged, left_on='bf_horse_id', right_on='todays_betfair_selection_id', how='left')

market_ids[[
    'race_id',
    'market_id_win',
    'market_id_place',
]].drop_duplicates(subset=['race_id']).reset_index(drop=True)

     todays_betfair_selection_id market_id_win market_id_place
0                       86116762   1.247118426     1.247118427
1                       10863442   1.247118426     1.247118427
2                       84239474   1.247118426     1.247118427
3                       86566645   1.247118426     1.247118427
4                       87740489   1.247118426     1.247118427
..                           ...           ...             ...
285                     24479291   1.247120419     1.247120420
286                     28562914   1.247120419     1.247120420
287                     36468488   1.247120419     1.247120420
288                     40563001   1.247120419     1.247120420
289                       222068   1.247120419     1.247120420

[290 rows x 3 columns]

In [ ]:
df = pg_client.fetch_data(
    """SELECT bf.*, td.race_id 
FROM bf_raw.today_horse bf
JOIN public.todays_data td
ON bf.horse_id = td.horse_id"""
)
market_ids = df.merge(bf_merged, left_on='bf_horse_id', right_on='todays_betfair_selection_id', how='left')

market_ids[[
    'race_id',
    'market_id_win',
    'market_id_place',
]].drop_duplicates(subset=['race_id']).reset_index(drop=True)

In [25]:
market_ids = df.merge(bf_merged, left_on='bf_horse_id', right_on='todays_betfair_selection_id', how='left')

market_ids[[
    'race_id',
    'market_id_win',
    'market_id_place',
]].drop_duplicates(subset=['race_id']).reset_index(drop=True)

    race_id market_id_win market_id_place
0    900849   1.247120378     1.247120379
1    900587   1.247118493     1.247118495
2    900851   1.247120392     1.247120393
3    900594   1.247118426     1.247118427
4    900588   1.247118500     1.247118501
5    900590   1.247118481     1.247118482
6    900597   1.247118445     1.247118447
7    900843   1.247118527     1.247118529
8    900844   1.247118514     1.247118516
9    900842   1.247118548     1.247118549
10   900845   1.247120419     1.247120420
11   900848   1.247120405     1.247120406
12   900592   1.247118438     1.247118440
13   900841   1.247118541     1.247118542
14   900840   1.247118534     1.247118536
15   900589   1.247118473     1.247118474
16   902245   1.247118487     1.247118488
17   900591   1.247118466     1.247118467
18   900850   1.247120385     1.247120386
19   900595   1.247118459     1.247118460
20   900846   1.247120399     1.247120400
21   900586   1.247118507     1.247118509
22   900847   1.247120412     1.247120413
23   900839   1.247118521     1.247118522
24   900593   1.247118431     1.247118432
25   900596   1.247118452     1.247118454

In [12]:
tf.columns

Index(['horse_name', 'age', 'horse_sex', 'draw', 'headgear', 'weight_carried',
       'weight_carried_lbs', 'extra_weight', 'jockey_claim',
       'finishing_position', 'total_distance_beaten', 'industry_sp',
       'betfair_win_sp', 'betfair_place_sp', 'official_rating', 'ts', 'rpr',
       'tfr', 'tfig', 'in_play_high', 'in_play_low', 'in_race_comment',
       'tf_comment', 'tfr_view', 'race_id', 'horse_id', 'jockey_id',
       'trainer_id', 'owner_id', 'sire_id', 'dam_id', 'unique_id', 'race_time',
       'race_date', 'race_title', 'race_type', 'race_class', 'distance',
       'distance_yards', 'distance_meters', 'distance_kilometers',
       'conditions', 'going', 'number_of_runners', 'hcap_range', 'age_range',
       'surface', 'total_prize_money', 'first_place_prize_money',
       'winning_time', 'time_seconds', 'relative_time', 'relative_to_standard',
       'country', 'main_race_comment', 'meeting_id', 'course_id', 'course',
       'dam', 'sire', 'trainer', 'jockey', 'created_at', 'rp_comment',
       'price_change', 'rating', 'speed_figure', 'tf_unique_id'],
      dtype='object')

In [ ]:
from api_helpers.clients import get_betfair_client, get_postgres_client
import pandas as pd

bf_client = get_betfair_client()
pg_client = get_postgres_client()

# Betfair market lookup (WIN/PLACE) per selection
bf = bf_client.create_market_data()
win = bf.loc[bf["market"] == "WIN", ["todays_betfair_selection_id", "market_id"]].rename(
    columns={"market_id": "market_id_win"}
)
place = bf.loc[bf["market"] == "PLACE", ["todays_betfair_selection_id", "market_id"]].rename(
    columns={"market_id": "market_id_place"}
)
bf_merged = pd.merge(win, place, on="todays_betfair_selection_id", how="outer")

# Today's horses with race_id
df = pg_client.fetch_data(
    """
    SELECT bf.*, td.race_id
    FROM bf_raw.today_horse bf
    JOIN public.todays_data td
      ON bf.horse_id = td.horse_id
    """
)

# Attach WIN/PLACE market ids and return one row per race
market_ids = (
    df.merge(
        bf_merged,
        left_on="bf_horse_id",
        right_on="todays_betfair_selection_id",
        how="left",
    )[["race_id", "market_id_win", "market_id_place"]]
    .drop_duplicates(subset=["race_id"])
    .reset_index(drop=True)
)

pg_client.store_data(
    market_ids,
    table="today_betfair_market_ids",
    schema="bf_raw",
    truncate=True,
)

2025-08-28T08:57:24Z | INFO - Logging into Betfair...
2025-08-28T08:57:24Z | INFO - Logged into Betfair!
2025-08-28T08:57:24Z | INFO - Found 52 markets

In [27]:
market_ids

    race_id market_id_win market_id_place
0    900849   1.247120378     1.247120379
1    900587   1.247118493     1.247118495
2    900851   1.247120392     1.247120393
3    900594   1.247118426     1.247118427
4    900588   1.247118500     1.247118501
5    900590   1.247118481     1.247118482
6    900597   1.247118445     1.247118447
7    900843   1.247118527     1.247118529
8    900844   1.247118514     1.247118516
9    900842   1.247118548     1.247118549
10   900845   1.247120419     1.247120420
11   900848   1.247120405     1.247120406
12   900592   1.247118438     1.247118440
13   900841   1.247118541     1.247118542
14   900840   1.247118534     1.247118536
15   900589   1.247118473     1.247118474
16   902245   1.247118487     1.247118488
17   900591   1.247118466     1.247118467
18   900850   1.247120385     1.247120386
19   900595   1.247118459     1.247118460
20   900846   1.247120399     1.247120400
21   900586   1.247118507     1.247118509
22   900847   1.247120412     1.247120413
23   900839   1.247118521     1.247118522
24   900593   1.247118431     1.247118432
25   900596   1.247118452     1.247118454

2025-08-28T09:00:26Z | INFO - Truncating bf_raw.today_betfair_market_ids
2025-08-28T09:00:26Z | INFO - Executing query: TRUNCATE TABLE bf_raw.today_betfair_market_ids
2025-08-28T09:00:26Z | INFO - Query executed. Number of rows affected: -1
2025-08-28T09:00:26Z | INFO - Storing 26 records in bf_raw.today_betfair_market_ids

In [ ]:
from api_helpers.interfaces.storage_client_interface import IStorageClient


def get_market_ids(race_id: int, pg_client: IStorageClient) -> tuple[str, str]:
    """
    Get the Betfair market IDs for WIN and PLACE markets
    """
    market_ids = pg_client.fetch_data(
        f"""
        SELECT market_id_win, market_id_place FROM bf_raw.today_betfair_market_ids
        WHERE race_id = {race_id}
        """,
    )

    return market_ids["market_id_win"].values[0], market_ids["market_id_place"].values[0]


def create_betting_odds_data(data: pd.DataFrame) -> pd.DataFrame:

    return pd.merge(
        data[data["market"] == "WIN"],
        data[data["market"] == "PLACE"],
        on="selection_id",
        suffixes=("_win", "_place"),
    )[
        [
            "selection_id",
            "status_win",
            "last_traded_price_win",
            "last_traded_price_place",
        ]
    ].rename(
        columns={
            "race_time_win": "race_time",
            "status_win": "status",
        }
    )


bf_client.create_single_market_data(get_market_ids(900851, pg_client))

In [35]:
get_market_ids(900851, pg_client)

('1.247120392', '1.247120393')

In [59]:
bf = create_betting_odds_data(
    bf_client.create_single_market_data(get_market_ids(900851, pg_client))
)
bf

    selection_id  status  last_traded_price_win  last_traded_price_place
0       54678914  ACTIVE                    5.7                     2.16
1       24694001  ACTIVE                    8.6                      NaN
2       72322337  ACTIVE                    9.8                      NaN
3       28659808  ACTIVE                   10.5                      NaN
4       46456919  ACTIVE                   13.5                     4.40
5       39605056  ACTIVE                   11.0                     4.20
6       40473403  ACTIVE                   13.5                     5.50
7       64669419  ACTIVE                   14.5                      NaN
8       10189143  ACTIVE                   16.5                     5.90
9       46561473  ACTIVE                   16.5                     4.30
10      44049799  ACTIVE                   20.0                      NaN
11      35625350  ACTIVE                   23.0                      NaN
12      54944456  ACTIVE                   26.0                      NaN
13      40165511  ACTIVE                   38.0                     6.80