In [2]:
import pandas as pd
from dotenv import load_dotenv

load_dotenv(
    dotenv_path="/Users/tomwattley/App/racing-api-project/racing-api-project/libraries/api-helpers/src/api_helpers/.env"
)

True

In [3]:
df = pd.read_parquet('/Users/tomwattley/App/racing-api-project/racing-api-project/apps/racing-api/src/betting_analysis_64.parquet')

In [4]:
df.columns

Index(['betting_type', 'session_id', 'confidence', 'horse_name', 'age',
       'horse_sex', 'draw', 'headgear', 'weight_carried', 'weight_carried_lbs',
       'extra_weight', 'jockey_claim', 'finishing_position',
       'total_distance_beaten', 'industry_sp', 'betfair_win_sp',
       'betfair_place_sp', 'official_rating', 'ts', 'rpr', 'tfr', 'tfig',
       'in_play_high', 'in_play_low', 'in_race_comment', 'tf_comment',
       'tfr_view', 'race_id', 'horse_id', 'jockey_id', 'trainer_id',
       'owner_id', 'sire_id', 'dam_id', 'unique_id', 'race_time', 'race_date',
       'race_title', 'race_type', 'race_class', 'distance', 'distance_yards',
       'distance_meters', 'distance_kilometers', 'conditions', 'going',
       'number_of_runners', 'hcap_range', 'age_range', 'surface',
       'total_prize_money', 'first_place_prize_money', 'winning_time',
       'time_seconds', 'relative_time', 'relative_to_standard', 'country',
       'main_race_comment', 'meeting_id', 'course_id', 'course', 'dam', 'sire',
       'trainer', 'jockey', 'price_move', 'created_at', 'win', 'place',
       'bet_result', 'bet_number', 'running_total', 'overall_total'],
      dtype='object')

In [10]:
df[[ 'bet_result','bet_number', 'running_total', 'overall_total']].sort_values(by=['bet_number'], ascending=False)

     bet_result  bet_number  running_total  overall_total
0         -1.00         172          -9.97          -7.75
4          4.76         171          -8.97          -8.16
5         -1.00         170         -13.73          -9.16
6         -1.00         169         -12.73         -12.92
11        -1.00         168         -11.73          -8.92
..          ...         ...            ...            ...
568        1.07           1           1.07           2.00
565        0.00           1           0.00           1.77
449        0.00           1           0.00           0.72
559        6.81           1           6.81           5.84
573        2.38           1           2.38           1.38

[574 rows x 4 columns]

In [9]:
df['betting_type'].value_counts()

betting_type
back_mid_price         172
back_outsider_place    148
lay_favourite           98
lay_mid_price_place     82
back_outsider           32
dutch_lay               23
dutch_back              19
Name: count, dtype: int64